@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gravitas One';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/GravitasOne-Regular.ttf');
}

@font-face {
  font-family: 'Genty Demo';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/GentyDemo-Regular.ttf');
}

@font-face {
  font-family: 'Arialic Hollow';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Arialic Hollow.ttf');
}

@font-face{
  font-family: 'Pixeloid Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/PixeloidSans-Regular.ttf');
}

@font-face {
  font-family: 'W95FA';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/W95FA.otf');
}

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}
body::-webkit-scrollbar {
  display: none;
}
body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
}
section::-webkit-scrollbar {
  width: 0 !important
  }
.progress-bar {
  @apply fixed top-12 left-0 right-0 h-3 bg-pink-400 transform origin-left;
}

.pixeloid-sans{
  font-family: 'Pixeloid Sans', sans-serif;
}

.W95FA{
  font-family: 'W95FA', sans-serif;
}

.arialic-hollow{
  font-family: 'Arialic Hollow', sans-serif;
}

.gravitas-one {
  font-family: 'Gravitas One', sans-serif;
}

.helvetica {
  font-family: 'Helvetica', sans-serif;
}

.genty-demo {
  font-family: 'Genty Demo', sans-serif;
}

.modal-open {
  overflow: hidden;
}

.noise {
  background:
    linear-gradient(to left, rgb(99, 154, 255), transparent),
    url('/noise.png');
}
.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(325, 76%, 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #80ff95 0%,
    #3ed3f5 53.65%,
    #e397ff 100%
  );
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;

  background: #7aebfb;
  filter: blur(190px);
}

.option{
  border-style: outset;
  border-color: white;
}

.option:hover {
  border-style: inset;
}

.glassmorphism {
  background: rgba(60, 255, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: #8d39a3;
  filter: blur(175px);
}

.pink-bar {
  border: 2px solid #000;
  background: linear-gradient(180deg, #FFEDF5 0%, #FF88BC 100%);
}

.footer-gradient {
  position: relative;
  width: 100%;
  max-width: 500px; /* Set a maximum width if needed */
  height: 100px;
  margin: 0 auto; /* Center the element horizontally */
  bottom: 0;
  background: #3dfd03d2;
  filter: blur(150px);
}


  .lowframe {
    animation: snapRight 2s steps(2, end) infinite;
  }

  @keyframes snapRight {
    to {
      transform:rotate(60deg);
    }
  }

  .lowfpsleft {
    animation: snapLeft 2s steps(2, end) infinite;
  }

  @keyframes snapLeft {
    to {
      transform:rotate(-60deg);
    }
  }


  /*hamburger icon*/
  #nav-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 2px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #26223d;
    border-radius: 15px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 8px;
  }
  
  #nav-icon span:nth-child(4) {
    top: 16px;
  }
  
  #nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  